// typography
$font-stack: "Raleway", sans-serif;
$small-text: 1.4rem;
$medium-text: 1.6rem;
$large-text: 2.4rem;
$extra-large-text: 3rem;

// colors
$light: #eeeeee;
$dark: #263238;
$primary: #00acc1;

// screen sizes
$landscape: "(min-width: 500px)";
$tablet: "(min-width: 800px)";
